/**{
	outline:1px solid rgba(255,0,0,0.3);
}*/

body{
	font-family: OpenSans-Regular;
	src: url(../fonts/Open/OpenSans-Regular.ttf);
}

#main_menu li:hover, #main_menu li.active {
	
  	text-decoration: none;
}
.logo{/*--->Para el logo un tamao definido*/
	max-width: 50%;
}
.display-ib{/*--->Para colocar todos los bloques en linea*/
	display: inline-block;
}
.pt-3{
	padding-top: 3%;
}
.pb-3{
	padding-bottom: 3%;
}
.pl-3{
	padding-left: 3%;
}
.font-size-12{
	font-size: 12px;
}
.font-size-14{
	font-size: 14px;
}
.width-50{
	width: 150px;
}
.pd-3{
	padding: 3%;
}
.height-200{
	height: 200px;
}
.height-350{
	height: 350px;
}
.height-400{
	height: 400px;
}
.bg-position-center{
	background-position: center;
}
.bg-metodologia-img{
	background-image: url(../img/citas.jpg);
	background-size: cover;
}
.bg-blogs{
	background-image: url(../img/fondo2.jpg);
}
.redsocial{
	height: 25px;
	width: 25px;
}
.equipo-img{
	border-radius: 100%;
	height: 230px;
	width: 200px;
}
#quiensoy a{
	text-decoration: none;
}

.brd-white{
	border: 1px solid #F2F2F2;
}
.position-r{
	position: relative;
}
.servicios-icons{
	width: 25%;
	display: inline-block;
	vertical-align: top;
}
.equipo-icons{
	width: 45%;
	display: inline-block;
	vertical-align: top;
}
.brd-none{
	border: none;
}
.input1{
	background-color: #f2f2f2;
	border: none;
}

@keyframes bounce {
	0%{
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	20%{
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	60%{
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	100%{
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}