/*Global*/
*{
	font-family: "OpenSans-Light" Helvetica;
}

@font-face{
	font-family: OpenSans-Regular;
	src: url(../fonts/Open/OpenSans-Regular.ttf);
}
@font-face{
	font-family: OpenSans-Light;
	src: url(../fonts/Open/OpenSans-Light.ttf);
}
@font-face{
	font-family: OpenSans-Bold;
	src: url(../fonts/Open/OpenSans-Bold.ttf);
}

/* Shortcuts */

.pd-0 {
	padding: 0;
}
.pd-1 {
	padding:1%;
}
.pd-3{
	padding: 3%;
}
.pd-5 {
	padding: 5%;
}
.pt-3{
	padding-top: 3%;
}
.pt-5 {
	padding-top: 5%;
}
.pt-10 {
	padding-top: 10%;
}
.pb-3{
	padding-bottom: 3%;
}
.pb-5{
	padding-bottom: 5%;
}
.pd-5-10{
	padding: 5% 10%;
}
.pl-3{
	padding-left: 3%;
}
.mg-0{
	margin: 0;
}
.mg-3{
	margin: 3%;
}
.mg-10{
	margin: 10%;
}
.ml-3{
	margin-left:3%;
}
.mr-3{
	margin-right:3%;
}
.w-50{
	width:50%;
}
.w-100{
	width: 100%;
}
.font-size-12{
	font-size: 12px;
}
.font-size-14{
	font-size: 14px;
}
.radio-20{
	border-radius: 20%;
}
.text-bold{
	font-weight: bold;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-justified{
	text-align: justify;
}
.a-none-decoration{
	text-decoration: none;
}
.bg-blue{
	background-color: #0487B1;
}
.bg-gray{
	background-color: #CBC8C8;
}
.bg-gray-dark{
	background-color: #a4a4a4;
}
.text-gray{
	color:#F2F2F2;
}
.text-gray-dark{/* Color de letra de pie de página*/
	color: #A4A4A4;
}
.text-black{
	color: #4D4D4D;
}
.text-blue{
	color: #0487B1;
}
.text-white{
	color:#ffffff;
}


