/*Global*/
*{
	font-family: "OpenSans-Light" Helvetica;
}

@font-face{
	font-family: OpenSans-Regular;
	src: url(../fonts/Open/OpenSans-Regular.ttf);
}
@font-face{
	font-family: OpenSans-Light;
	src: url(../fonts/Open/OpenSans-Light.ttf);
}
@font-face{
	font-family: OpenSans-Bold;
	src: url(../fonts/Open/OpenSans-Bold.ttf);
}

/* Shortcuts */

.pd-0 {
	padding: 0;
}
.pt-5 {
	padding-top: 5%;
}
.pt-10 {
	padding-top: 10%;
}
.pb-5{
	padding-bottom: 5%;
}
.pd-5 {
	padding: 5%;
}
.pd-5-10{
	padding: 5% 10%;
}
.mg-0{
	margin: 0;
}
.mg-10{
	margin: 10%;
}
.w-100{
	width: 100%;
}
.lh{
	line-height: 1.5;
}
.text-bold{
	font-weight: bold;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.a-none-decoration{
	text-decoration: none;
}
.bg-blue{
	background-color: #0487B1;
}
.bg-gray{
	background-color: #CBC8C8;
}
.bg-gray-dark{
	background-color: #a4a4a4;
}
.text-gray{
	color:#F2F2F2;
}
.text-gray-dark{/* Color de letra de pie de página*/
	color: #A4A4A4;
}
.text-black{
	color: #4D4D4D;
}
.text-blue{
	color: #0487B1;
}
.text-white{
	color:#ffffff;
}
.bg-img-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.radio-20{
	border-radius: 20%;
}

